# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: lpilas
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: serverless-appointment-system
# "service" is the name of this project. This will also be added to your AWS resource names.
service: serverless-appointment-system

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1

resources:
  Resources:
    AppointmentsTable: #Declaración de la tabla en DynamoDB
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: AppointmentsTable
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: insuredId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST

        GlobalSecondaryIndexes: # se define para permitir consultas que no usan la llave principal
          - IndexName: InsuredIdIndex # El índice secundario global para la consulta de listado
            KeySchema:
              - AttributeName: insuredId
                KeyType: HASH # Clave de Partición para el GSI
            Projection:
              ProjectionType: ALL # Proyecta todos los atributos para que el listado sea completo
    AppointmentsTopic: #Declaración del tópico en SNS
      Type: AWS::SNS::Topic
      Properties:
        TopicName: AppointmentsTopic
    
    SqsPe: #Cola de mensajes para Perú
      Type: AWS::SQS::Queue
      Properties:
        QueueName: AppointmentsPeQueue
        MessageRetentionPeriod: 1209600 # 14 días en segundos

    SqsCl: #Cola de mensajes para Chile
      Type: AWS::SQS::Queue
      Properties:
        QueueName: AppointmentsClQueue
        MessageRetentionPeriod: 1209600 # 14 días en segundos

    SqsPeSubscription: # Suscripción de la cola de Perú al tópico con filtro
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: sqs
        Endpoint: !GetAtt SqsPe.Arn 
        TopicArn: !Ref AppointmentTopic 
        FilterPolicy: # Solo acepta mensajes con countryISO: "PE"
          countryISO:
            - "PE"

    SqsClSubscription: # Suscripción de la cola de Chile al tópico con filtro
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: sqs
        Endpoint: !GetAtt SqsCl.Arn 
        TopicArn: !Ref AppointmentTopic
        FilterPolicy: # Solo acepta mensajes con countryISO: "CL"
          countryISO:
            - "CL"


functions:
  hello:
    handler: src/handler.hello
    events:
      - httpApi:
          path: /
          method: get

# Build nativo en Serverless v4 (reemplaza serverless-esbuild)
build:
  esbuild: true
  minify: false
  sourcemap: true
  target: node20
  platform: node

plugins:
  - serverless-offline
